<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <script src='https://code.jquery.com/jquery-2.1.3.min.js'></script>
</head>
<body>

<h1>Jeopardy Questions</h1>

<form action='/jeopardy/search' method='get'>
  Search Question: <input type="text" name="search" value="<%= search %>"><br>
  Question Value:
   <select name="value">
     <option></option>

     <% var possibleValues = ['200', '400', '600', '800', '1000', '1200', '1400', '1600']; %>

     <% possibleValues.forEach(function(possibleValue) { %>

       <% if (value.toString() === possibleValue) { %>
         <option value="<%= possibleValue %>" selected>$<%= possibleValue %></option>
       <% } else { %>
         <option value="<%= possibleValue %>">$<%= possibleValue %></option>
       <% } %>
     <% }); %>

   </select><br>

   Search Answer: <input type='text' name='answer'><br>

  <button type='submit'>Search</button>
</form>

<h3>Search for questions</h3>

<% if (questions.length) { %>
  <ul>
    <% questions.forEach(function(question) { %>
       <% var questionId = question.id; %>

       <li>
         <div class='question'>
           <div class='category'>Category: <%= question.category %></div>
           <div class='air-date'>Air Date: <%= question.airDate %></div>
           <div class='question-question'><%= question.question %></div>
           <div class='value'>Value: $<%= question.value %></div>
           <div class='answer'>
             <a href='#' class='show-answer' data-question-id='<%= questionId %>'>Show answer</a>
             <div class='hidden-answer' id='hidden-question-<%= questionId %>' style='display:none'>
               Answer: <%= question.answer %>?
             </div>
           </div>
         </div>
         <hr>
       </li>
  
    <% }); %>
  <ul>
<% } else { %>
  <h4>No questions found.</h4>
<% } %>

<script>
  $(function(){
    $('.show-answer').click(function(e){
      e.preventDefault();
      var questionId = $(e.target).data('question-id');
      $(e.target).hide();
      $('#hidden-question-' + questionId).show();
    });
  });
</script>

</body>
</html>
